:root {
  --border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  border: var(--border);
  text-align: center;
}

main { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  margin-top: 50px;
  display: flex;
  height: 300px;
  width: 306px;
  /* border: var(--border); */
  flex-wrap: wrap;
}

.square {
  height: 100px;
  width: 100px;
  border: var(--border)
}